<ion-header>
  <ion-toolbar id = "top-nav">
    <ion-buttons slot="start">
      <ion-button (click) = "back()" id=" history-back">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br> 

      <div id="container">
        <strong>Ready to create an app??</strong>
        <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
      </div>

</ion-content>
