<ion-header>
  <ion-toolbar id = "top-nav">
    <ion-buttons slot="start">
      <ion-button (click) = "back()" id=" form-back">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-wrap">
      <div class="ion-text-wrap">
        Carbon Footprint Entry
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
      <ion-segment color="danger"  mode = "ios" [(ngModel)]="type"   (ionChange)="segmentChanged($event)" value = "travel" >
        <ion-segment-button  value="1">
          <ion-label id="travel">Travel</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label id="shopping">Shopping</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
          <ion-label id="sustainability">Sustainability</ion-label>
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>


  <div [ngSwitch] = "type">
    <ion-card *ngSwitchCase="'1'">
      <ion-card-content id="q1">What was your primary method of travel?</ion-card-content>
      <ion-list id= "a1" >
        <ion-radio-group value="Qtravel" [(ngModel)]="valueSelected" >
          <ion-item>
            <ion-label>Plane</ion-label>
            <ion-radio slot="start" value="1"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Car</ion-label>
            <ion-radio slot="start" value="2"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Bike</ion-label>
            <ion-radio slot="start" value="3"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Train</ion-label>
            <ion-radio slot="start" value="4"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Boat</ion-label>
            <ion-radio slot="start" value="5"></ion-radio>
            <!-- <ion-radio slot="start" value="bike"></ion-radio> -->
          </ion-item>

          <ion-item>
            <ion-label>Walk</ion-label>
            <ion-radio slot="start" value="Walk"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Public Transportation(Bus,Train)</ion-label>
            <ion-radio slot="start" value="public"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card>

    <ion-card *ngSwitchCase="'2'">
      <ion-card-content>2</ion-card-content>
    </ion-card>

    <ion-card *ngSwitchCase="'3'">
      <ion-card-content>3</ion-card-content>
    </ion-card>
</div>
 

<!-- <ion-button class = "Submit" expand= "block" style="--background: #E57844" (click) = "saveTravel()"> Submit </ion-button> -->



<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="9" class="ion-text-center">
      <ion-item lines="none" id="projectTitle" *ngIf="nextOptions == 'previous'">
        <ion-input name="title" [(ngModel)]="title" class="text-input" placeholder="Project Title"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="8" class="ion-text-center">
      <ion-button class = "Submit" style="--background: #E57844" (click) = "saveTravel()"> Submit </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>


</ion-content>