<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Carbon Footprint
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <br> 
    <ion-toolbar id = "icon_toolbar">
      <ion-buttons slot = "secondary">
          <ion-button [routerLink] = "['/log-history']" id = "log_icon">
            <ion-icon name = "logs" size = "large" slot = "icon-only" src=".\assets\icon\logs.svg"></ion-icon>
          </ion-button>
        </ion-buttons>

      <ion-buttons slot = "primary">
          <ion-button  id = "share_icon">
            <ion-icon name = "share" size = "large" slot = "icon-only" src=".\assets\icon\share_icon.svg"></ion-icon>
          </ion-button>
        </ion-buttons> 
      </ion-toolbar>

        
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
        <ion-card>
          <ion-item>
            <div style="margin-left: 15px"> Category </div>
            <div style="margin-left: 75px"> Standing </div>
            <ion-img style="align-items: right;margin-left: 10px;" src=".\assets\Union.png"></ion-img>
          </ion-item>
          <ion-item>
            <ion-img style="align-items: left;" src=".\assets\shoppingicon.png"></ion-img>
            <div style="margin-left: 10px"> Shopping </div>
            <div style="margin-left: 45px"> Average </div>
          </ion-item>
          <ion-item>
            <ion-img style="align-items: left;" src=".\assets\travelicon.png"></ion-img>
            <div style="margin-left: 10px"> Travel </div>
            <div style="margin-left: 65px"> Above Average </div>
          </ion-item>
          <ion-item>
            <ion-img style="align-items: left;" src=".\assets\sustainabilityicon.png"></ion-img>
            <div style="margin-left: 10px"> Sustainability </div>
            <div style="margin-left: 23px"> No Rating </div>
          </ion-item>
        </ion-card>    
</ion-content>



