<ion-header>
  <ion-toolbar id = "top-nav">
    <ion-buttons slot="start">
      <ion-button (click) = "back()" id=" form-back">
          <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-wrap">
      <div class="ion-text-wrap">
        Carbon Footprint Entry
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <ion-toolbar>
      <ion-segment color="danger"  mode = "ios" [(ngModel)]="type"   (ionChange)="segmentChanged($event)" value = "travel" >
        <ion-segment-button  value="1">
          <ion-label id="travel">Travel</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label id="shopping">Shopping</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
          <ion-label id="sustainability">Sustainability</ion-label>
        </ion-segment-button>
      </ion-segment>
  </ion-toolbar>

<!-- TRAVEL -->
  <div [ngSwitch] = "type">
    <ion-card *ngSwitchCase="'1'">
      <!-- Question 1 -->
      <ion-card-content id="question">What was your primary method of travel?</ion-card-content>
      <ion-list id= "answer" >
        <ion-radio-group value="a" [(ngModel)]="q1" >
          <ion-item>
            <ion-label>Plane</ion-label>
            <ion-radio slot="start" checked = "true" value="a"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Car</ion-label>
            <ion-radio slot="start" value="b"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Bike</ion-label>
            <ion-radio slot="start" value="c"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Train</ion-label>
            <ion-radio slot="start" value="d"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Boat</ion-label>
            <ion-radio slot="start" value="e"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Walk</ion-label>
            <ion-radio slot="start" value="f"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Public Transportation</ion-label>
            <ion-radio slot="start" value="g"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <br>
      <br> 

      <!-- Question 2 -->
      <ion-card-content id="question">How many miles did you walk?</ion-card-content>
      <ion-list id= "answer" >
        <ion-radio-group value="Qtravel" [(ngModel)]="q2" >
          <ion-item>
            <ion-label>0-2.9</ion-label>
            <ion-radio slot="start" value="a"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>3-5.9</ion-label>
            <ion-radio slot="start" value="b"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>6-10</ion-label>
            <ion-radio slot="start" value="c"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <br>
      <br> 

      <!-- Question 3 -->
      <ion-card-content id="question">How many times did you use public transporttion?  (Bus, trains, trams, etc)</ion-card-content>
      <ion-list id= "answer" >
        <ion-radio-group value="Qtravel" [(ngModel)]="q3" >
          <ion-item>
            <ion-label>0-2</ion-label>
            <ion-radio slot="start" value="a"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>3-5</ion-label>
            <ion-radio slot="start" value="b"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>6-10</ion-label>
            <ion-radio slot="start" value="c"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card>

    

    <!-- SHOPPING -->
    <ion-card *ngSwitchCase="'2'">
      <!-- Question 1 -->
      <ion-card-content id="question">How many times did you buy from local Farmer's Markets?</ion-card-content>
      <ion-list id= "answer" >
        <ion-radio-group value="QShopping" [(ngModel)]="q4" >
          <ion-item>
            <ion-label>0-2</ion-label>
            <ion-radio slot="start" value="a"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>3-5</ion-label>
            <ion-radio slot="start" value="b"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>6-10</ion-label>
            <ion-radio slot="start" value="c"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <br>
      <br> 

      <!-- Question 2 -->
      <ion-card-content id="question">Was your diet plant-based or higher in meats?</ion-card-content>
      <ion-list id= "answer" >
        <ion-radio-group value="QShopping" [(ngModel)]="q5" >
          <ion-item>
            <ion-label>Only plant-based</ion-label>
            <ion-radio slot="start" value="a"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Mostly plant-based</ion-label>
            <ion-radio slot="start" value="b"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Split between plant-based and meat</ion-label>
            <ion-radio slot="start" value="c"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Mostly meat</ion-label>
            <ion-radio slot="start" value="d"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Only meat</ion-label>
            <ion-radio slot="start" value="e"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      
      <br>
      <br> 

      <!-- Question 3 -->
      <ion-card-content id="question">Did you use reusable bags or single-use bags during your trip?</ion-card-content>
      <ion-list id= "answer" >
        <ion-radio-group value="QShopping" [(ngModel)]="q6" >
          <ion-item>
            <ion-label>Only reusable bags</ion-label>
            <ion-radio slot="start" value="a"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Mostly reusable bags</ion-label>
            <ion-radio slot="start" value="b"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Split between plant-based and single-use bags</ion-label>
            <ion-radio slot="start" value="c"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Mostly single-use bags</ion-label>
            <ion-radio slot="start" value="d"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Only single-use bags</ion-label>
            <ion-radio slot="start" value="e"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card>

    <!-- SUSTAINABILITY -->
    <ion-card *ngSwitchCase="'3'">
      <!-- Question 1 -->
      <ion-card-content id="question">How long did you leave the air conditioning or heater on for?</ion-card-content>
      <ion-list id= "answer" >
        <ion-radio-group value="Qsustainability" [(ngModel)]="q7" >
          <ion-item>
            <ion-label>0-2 Hours</ion-label>
            <ion-radio slot="start" value="a"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>2-4 Hours</ion-label>
            <ion-radio slot="start" value="b"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>4-6 Hours</ion-label>
            <ion-radio slot="start" value="c"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>6-8 Hours</ion-label>
            <ion-radio slot="start" value="d"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>8+ Hours</ion-label>
            <ion-radio slot="start" value="e"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <br>
      <br> 

      <!-- Question 2 -->
      <ion-card-content id="question">How many disposable water bottles did you use?</ion-card-content>
      <ion-list id= "answer" >
        <ion-radio-group value="Qsustainability" [(ngModel)]="q8" >
          <ion-item>
            <ion-label>None</ion-label>
            <ion-radio slot="start" value="a"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>1-2</ion-label>
            <ion-radio slot="start" value="b"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>3-4</ion-label>
            <ion-radio slot="start" value="c"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>5-6</ion-label>
            <ion-radio slot="start" value="d"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>7+</ion-label>
            <ion-radio slot="start" value="e"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <br>
      <br> 

      <!-- Question 3 -->
      <ion-card-content id="question">Did you leave the lights on when leaving the room?</ion-card-content>
      <ion-list id= "answer" >
        <ion-radio-group value="Qsustainability" [(ngModel)]="q9" >
          <ion-item>
            <ion-label>Never</ion-label>
            <ion-radio slot="start" value="a"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Sometimes</ion-label>
            <ion-radio slot="start" value="b"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Most of the time</ion-label>
            <ion-radio slot="start" value="c"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Always</ion-label>
            <ion-radio slot="start" value="d"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Unsure</ion-label>
            <ion-radio slot="start" value="e"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

    </ion-card>
</div>
 

<!-- <ion-button class = "Submit" expand= "block" style="--background: #E57844" (click) = "saveTravel()"> Submit </ion-button> -->

<br>
<br>
<br>
<br>
<br>
<br>

<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="9" class="ion-text-center">
      <ion-item lines="none" id="projectTitle" *ngIf="nextOptions == 'previous'">
        <ion-input name="title" [(ngModel)]="title" class="text-input" placeholder="Project Title"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="8" class="ion-text-center">
      <ion-button class = "Submit" style="--background: #E57844" (click) = "saveTravel()"> Submit </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<br>
<br> 

<ion-grid>
  <ion-row class="ion-align-items-center">
    <ion-col size="8" class="ion-text-center">
      <ion-item lines="none" id="projectTitle" *ngIf="nextOptions == 'previous'">
        <ion-input name="title" [(ngModel)]="title" class="text-input" placeholder="Project Title"></ion-input>
      </ion-item>
    </ion-col>
    <ion-col size="8" class="ion-text-center">
      <ion-button class = "Submit" style="--background: #E57844" (click) = "saveDraft()"> Save as Draft </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>

<br>
<br>


</ion-content>